<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Connect6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#fc6">
    <%
      // The script and stylesheet tags are injected. Looked up here are the
      // assets html-webpack-plugin does not know about: the copied files, and
      // the wasm module, which is an auxiliary asset of the entrypoint.
      var assetNames = Object.keys(compilation.assets);
      var asset = (name, ext) => {
        var file = assetNames.find(k => k.startsWith('assets/' + name) && k.endsWith(ext));
        if (!file) {
          throw new Error('no emitted asset matches assets/' + name + '*' + ext);
        }
        return htmlWebpackPlugin.files.publicPath + file;
      };
    %>
    <link rel="icon" sizes="any" href="<%= asset('icon', '.svg') %>">
    <link rel="manifest" href="<%= asset('manifest', '.json') %>">
    <link rel="preload" href="<%= asset('c6ol-client_bg', '.wasm') %>" as="fetch" type="application/wasm" crossorigin>
  </head>
  <body>
  </body>
</html>
