<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Connect6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#fc6">
    <% 
      var manifestFile = Object.keys(compilation.assets).find(k => k.startsWith('assets/manifest') && k.endsWith('.json'));
      var iconFile = Object.keys(compilation.assets).find(k => k.startsWith('assets/icon') && k.endsWith('.svg'));
      var cssFile = Object.keys(compilation.assets).find(k => k.startsWith('assets/style') && k.endsWith('.css'));
      var jsFile = Object.keys(compilation.assets).find(k => k.startsWith('assets/c6ol-client') && k.endsWith('.js'));
      var wasmFile = Object.keys(compilation.assets).find(k => k.startsWith('assets/c6ol-client_bg') && k.endsWith('.wasm'));
    %>
    <% if (iconFile) { %>
    <link rel="icon" sizes="any" href="/<%= iconFile %>">
    <% } %>
    <% if (manifestFile) { %>
    <link rel="manifest" href="/<%= manifestFile %>">
    <% } %>
    <% if (cssFile) { %>
    <link rel="stylesheet" href="/<%= cssFile %>">
    <% } %>
    <% if (wasmFile) { %>
    <link rel="preload" href="/<%= wasmFile %>" as="fetch" type="application/wasm" crossorigin>
    <% } %>
    <script type="module">
      import init from '/<%= jsFile %>';await init()
    </script>
  </head>
  <body>
  </body>
</html>
